<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ACPI</key>
		<dict>
			<key>Add</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>HPET _CRS (Needs _CRS to XCRS Rename)</string>
					<key>Enabled</key>
					<true />
					<key>Path</key>
					<string>SSDT-HPET.aml</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SSDT-EC</string>
					<key>Enabled</key>
					<true />
					<key>Path</key>
					<string>SSDT-EC.aml</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Sets plugin-type to 1 on first Processor object</string>
					<key>Enabled</key>
					<true />
					<key>Path</key>
					<string>SSDT-PLUG.aml</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SSDT to disable USB RHUB/HUBN/URTH and rename devices</string>
					<key>Enabled</key>
					<true />
					<key>Path</key>
					<string>SSDT-USB-Reset.aml</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Defines missing PCI bridges for property injection</string>
					<key>Enabled</key>
					<true />
					<key>Path</key>
					<string>SSDT-Bridge.aml</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Defines PNLF device with a _UID of 15 for backlight control - requires PNLF to
						XNLF rename</string>
					<key>Enabled</key>
					<true />
					<key>Path</key>
					<string>SSDT-PNLF.aml</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI override to return true through Windows 10 - requires _OSI to XOSI rename</string>
					<key>Enabled</key>
					<true />
					<key>Path</key>
					<string>SSDT-XOSI.aml</string>
				</dict>
			</array>
			<key>Patch</key>
			<array>
				<dict>
					<key>Base</key>
					<string></string>
					<key>BaseSkip</key>
					<integer>0</integer>
					<key>Comment</key>
					<string>HPET _STA to XSTA Rename</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true />
					<key>Find</key>
					<data> KF9TVEE= </data>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data> </data>
					<key>OemTableId</key>
					<data> AAAAAA== </data>
					<key>Replace</key>
					<data> KFhTVEE= </data>
					<key>ReplaceMask</key>
					<data> </data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data> AAAAAA== </data>
				</dict>
				<dict>
					<key>Base</key>
					<string></string>
					<key>BaseSkip</key>
					<integer>0</integer>
					<key>Comment</key>
					<string>HPET _CRS to XCRS Rename</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true />
					<key>Find</key>
					<data> RwVfQ1JT </data>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data> </data>
					<key>OemTableId</key>
					<data> AAAAAA== </data>
					<key>Replace</key>
					<data> RwVYQ1JT </data>
					<key>ReplaceMask</key>
					<data> </data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data> AAAAAA== </data>
				</dict>
				<dict>
					<key>Base</key>
					<string></string>
					<key>BaseSkip</key>
					<integer>0</integer>
					<key>Comment</key>
					<string>IPIC IRQ 2 Patch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true />
					<key>Find</key>
					<data> IgQAeQA= </data>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data> </data>
					<key>OemTableId</key>
					<data> AAAAAA== </data>
					<key>Replace</key>
					<data> IgAAeQA= </data>
					<key>ReplaceMask</key>
					<data> </data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data> AAAAAA== </data>
				</dict>
				<dict>
					<key>Base</key>
					<string></string>
					<key>BaseSkip</key>
					<integer>0</integer>
					<key>Comment</key>
					<string>RTC IRQ 8 Patch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true />
					<key>Find</key>
					<data> IgABeQA= </data>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data> </data>
					<key>OemTableId</key>
					<data> AAAAAA== </data>
					<key>Replace</key>
					<data> IgAAeQA= </data>
					<key>ReplaceMask</key>
					<data> </data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data> AAAAAA== </data>
				</dict>
				<dict>
					<key>Base</key>
					<string></string>
					<key>BaseSkip</key>
					<integer>0</integer>
					<key>Comment</key>
					<string>TIMR IRQ 0 Patch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true />
					<key>Find</key>
					<data> IgEAeQA= </data>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data> </data>
					<key>OemTableId</key>
					<data> AAAAAA== </data>
					<key>Replace</key>
					<data> IgAAeQA= </data>
					<key>ReplaceMask</key>
					<data> </data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data> AAAAAA== </data>
				</dict>
				<dict>
					<key>Base</key>
					<string></string>
					<key>BaseSkip</key>
					<integer>0</integer>
					<key>Comment</key>
					<string>PNLF to XNLF Rename</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true />
					<key>Find</key>
					<data> UE5MRg== </data>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data> </data>
					<key>OemTableId</key>
					<data> AAAAAA== </data>
					<key>Replace</key>
					<data> WE5MRg== </data>
					<key>ReplaceMask</key>
					<data> </data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data> AAAAAA== </data>
				</dict>
				<dict>
					<key>Base</key>
					<string></string>
					<key>BaseSkip</key>
					<integer>0</integer>
					<key>Comment</key>
					<string>_OSI to XOSI rename - requires SSDT-XOSI.aml</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true />
					<key>Find</key>
					<data> X09TSQ== </data>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data> </data>
					<key>OemTableId</key>
					<data> AAAAAA== </data>
					<key>Replace</key>
					<data> WE9TSQ== </data>
					<key>ReplaceMask</key>
					<data> </data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data> AAAAAA== </data>
				</dict>
			</array>
		</dict>
	</dict>
</plist>